@import './vars.scss';

.title{
  color: black;
  font-size: 28px;
  text-align: center;
  line-height: 3rem;
}

a.title{
  color: $purple;
  font-size: 28px;
  text-align: center;
}

.marginTop30 {
  margin-top: 30px;
}

.app {
  @extend .coverContainer;
  background-image: $mainGradient;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.coverContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cancelBtn{
  float: right;
  font-size: 50px;
  font-weight: 400;
  // line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  &:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
  }
}

.name {
  font-weight: 400;
  color: #3BB7DB;
  font-size: 20px;
  margin-bottom: 20px;
}

.date{
  color: '#979797';
  font-size: 14px;
}