$purple: #8029AF;
$lightBlue: #3BB7DB;
$yellow: #EEF8DD;
$superTransparentBlack: rgba(0,0,0,0.08);
$white: #FFFFFF;
$text: #777;
$mainGradient: linear-gradient(315deg, $yellow 0%, $lightBlue 46.85%, $purple 100%);