$radius: 40px;

.title {
  color: white;
  font-family: "Work Sans";
  font-weight: 200;
  margin-top: 30px;
}

.btn {
  color: rgba(255,255,255,0.6);
  background: rgba(255,255,255,0.1);
  border: 1px solid transparent;
  margin: 1px 0;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 400;
  outline: none;
  border-radius: 0;
}

.rightBtn {
  @extend .btn;
  border-radius: 0 $radius $radius 0;
}

.leftBtn {
  @extend .btn;
  border-radius: $radius 0 0 $radius;
}

.activeBtn {
  color: rgba(255,255,255,1);
  background: rgba(255,255,255,0.2);
}