@import '../../sharedStyles/vars.scss';

.mainContainer {
  display: flex;
  flex: 1;
  margin-top: 50px;
  z-index: 100;
}

.contentContainer {
  flex: 1;
}

.categoryBackdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  opacity: 0.1;
  font-size: 25em;
  font-weight: 800;
  text-transform: uppercase;
  user-select: none;
  z-index: 0;
}

.footer{
 color: black;
 background: #f8f8f8;
 text-align: center;
 padding: 5px;
 border: 1px solid $superTransparentBlack;

}