@import '../../sharedStyles/shared.scss';

.postedBy {
  font-size: 14px;
  color: #979797;
  margin: 5px;
  text-align: center;
}

.name {
  font-weight: 400;
  color: $lightBlue;
}

.category {
  font-weight: 500;
  color:  $purple;
  text-transform: capitalize;
}