@import '../../sharedStyles/vars.scss';

.cardBorder {
  box-sizing: border-box;
  border: 20px solid $superTransparentBlack;
  box-shadow: 0 0 9px 0 $superTransparentBlack;
  margin-top: 3px;
}

.bgWhite {
  background-color: $white;
  padding: 40px;
}

.hoverCardBorder {
  @extend .cardBorder;
  cursor: pointer;
  &:hover
  {
    border: 20px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.2);
  }
}