.menuContainer {
  //position: fixed;
}
.menuBtn {
  color: white;
  background: rgba(255,255,255,0.1);
  border: 1px solid transparent;
  width: 100%;
  margin: 1px 0;
  padding: 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0.6;
  font-weight: 400;
  outline: none;
  border-radius: 0;
}

.activeBtn {
  @extend .menuBtn;
  background: transparent;
  opacity: 1;
}

.createNewBtn {
  @extend .menuBtn;
  background: rgba(255,255,255,0.16);
  color: rgba(255,255,255,0.9);
  opacity: 1;
}